.hero{
    background-color: #f00;
    background-image: url("hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:Black;
    margin:1rem;

    @media screen and (max-width:767px){
        display: none;
    }
}
