.services__container{
    margin-block:1rem;
    padding: 2rem;
    display: flex;
    flex-direction:column;
    align-items: center;

.services__title{
    color:#ff8000;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}
.services__grid
{
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 0.5fr));
  margin: 0;
  padding: 0;
  .card {

  }

  @media (max-width: 767px) {
      max-width:95%;
      padding: 0;
    grid-template-columns: 1fr; // Une seule colonne pour les écrans de moins de 768px
    .card {
      max-width: none; // Réinitialise la largeur maximale pour la grille à une colonne
    }
  }
}}
