$navbar-height:6rem;
$navbar-bgc:lighten(#6f867f,15);
//#c4d4cb;
//#b67c4a;

// #65622d;
// #69311e;
//  #6f867f;
// $navbar-bgc:#DDDBD9;
// $navbar-c:#332E29;
$navbar-c: #170a03;
//#ff8000;
//#79390d;
$navbar-c-hover: #4b210b;
$burger-bar-w:24px;
$navbar-h:75px;

.navbar{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    background-color: $navbar-bgc; 
    color:  $navbar-c;
    height: $navbar-h;
    align-items: center;
    //margin-block-end: 1rem; 
    padding-inline: 1rem;   
   
    .navbar__links{
        width:50%;
        display: flex;
        
        justify-content: flex-end;
        
    
    .navbar__link{
        margin-inline-start: 0.8rem;
        font-size: 1.1rem;
        padding: 0 0.3rem;
        color:$navbar-c;
        &:hover{
            color:$navbar-c-hover;
           
        }
    }
    
   
   
}
.navbar__logo{
    
    a{
        font-family: Oswald,sans-serif;
        font-size: 2rem;
        text-align: left;
        font-weight: 900;
        word-wrap: break-word;
        pointer-events: initial;
        font-weight: bold;
        color: $navbar-c;
        background-color: transparent;
        text-decoration: none;
    }
    z-index: 0;
}


.navbar__burger{ visibility: hidden;
display:none;
}
@media screen and (max-width:767px) {
    .navbar__burger{
        position: fixed;
        top:2rem;
        right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: visible;
        width: calc($burger-bar-w + 4rem);
        height: calc($burger-bar-w + 4rem);
        border:none;
        color: inherit;
        background-color: rgba(22, 22, 22, 0.805);
        cursor: pointer;
        z-index: 10;
        transition: all .5s ease-in-out;
    }


    .navbar__links{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        left: 0;
        right: -100vw;
        bottom: 0;
        margin-top: 1rem;
        height: calc(100vh - $navbar-height);
        padding: 2rem;
        visibility: hidden;
        background-color: #000;
        transition: all .4s ease-out;
    }
     &.show-nav{ .navbar__links{
        width: 100vw;
        right: 0;
        visibility: visible;
        }
        .navbar__burger{background-color: rgb(22, 22, 22);}
         .burger-bar::before{
            transform: rotate(45deg);
        }
        .burger-bar::after{
            transform: rotate(-45deg);
        }
        .burger-bar{
            background-color: transparent;
            
        }
    }
    .navbar__link{
        display: block;
        padding: 5rem;
        font-size: 5vw;
    }

    .burger-bar, 
    .burger-bar::after, 
    .burger-bar::before
    {
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background-color: #fff;

    }
    .burger-bar::after, 
    .burger-bar::before{
        position: absolute;
        content:"";
        left: 0;
    }
    .burger-bar::after{
        transform:translateY(-12px)  
    }
    .burger-bar::before{
        transform:translateY(12px) 
    }

}}
