.carousel {
    margin-top: 100px;
    position: relative;
    width:80%;
    height:70vh;
    user-select:none;
    &__slider {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        overflow:hidden;
border:1px #fff solid;
        animation: scale-in-hor-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        .slide {

            opacity: 1;
            width: 100%;
            height: 100%;

            position: relative;
            flex-shrink: 0;
            flex-grow: 0;

            .slide__content{

                padding: 10rem;
                user-select:none;
                position: absolute;
                top: 0;
                left:0;
                color: #000;
                background-color: #fffFFF0F;
                width: 100%;
                height: 100%;
                opacity: 0.5;
                .description {
                    opacity: 1.0;
                    z-index:10;
                    font-size: 32px;
                }

                .title {
                    z-index:10;
                    opacity: 1.0;
                }

            }
            &__image{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }


        }

        .active, .next {
            display: block;
        }
        .next {
            position: absolute;
            top: 0;
            width: 100%;
        }
    }


    &-control {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 20%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;

        &.right{
            right: 0;
            left: auto;
        }
        &:hover{
            background-color: #0000000b;
            & .arrow{
                // border:1px solid red;
                opacity:1;
            }
        }

        .arrow {
            position: absolute;
            top: 50%;
            display: inline-block;
            width: 30px;
            height: 30px;
            background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyNiAyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+QXJyb3c8L3RpdGxlPjxwYXRoIGQ9Ik0yNS42IDEwLjk3NGwtOC41MyA4LjYyYTEuMzYgMS4zNiAwIDAgMS0xLjkzNS4wMDMgMS4zODcgMS4zODcgMCAwIDEtLjAwMi0xLjk1bDYuMjAxLTYuMjY4SDEuMzY4QTEuMzc0IDEuMzc0IDAgMCAxIDAgMTBjMC0uNzYyLjYxMy0xLjM4IDEuMzY4LTEuMzhoMTkuOTY2bC02LjItNi4yNjdhMS4zODcgMS4zODcgMCAwIDEgLjAwMS0xLjk1IDEuMzYgMS4zNiAwIDAgMSAxLjkzNi4wMDJsOC41MyA4LjYyMWMuNTMyLjUzOC41MzIgMS40MSAwIDEuOTQ4IiBmaWxsPSIjRkZGRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=") center center no-repeat;
            background-size: 26px 20px;
            opacity: 0.3;
            transform: translateY(-50%);
            &:hover {
                opacity: 0.8;
            }

            &.left {
                transform: translateY(-50%) rotate(180deg);
            }

            &.right {
                right: 50%;
            }

        }

    }



    &-indicators {
        position: absolute;
        bottom: 20px;
        left: 50%;
        padding-left: 0;
        margin: 0;
        list-style: none;
        transform: translateX(-50%);
        user-select: none;
        z-index: 20;
    }

    &-indicators li {
        display: inline-block;
        width: 1rem;
        height:1rem;
        cursor: pointer;
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        margin-left: .5rem;
    }

    &-indicators li.active {
        background-color: #AAAAAA;
    }

    @media screen and (max-width: 600px) {
        width:95%;

    }
}
/* ----------------------------------------------
 * Generated by Animista on 2023-11-29 17:27:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

    /**
     * ----------------------------------------
     * animation scale-in-hor-right
     * ----------------------------------------
     */
    @-webkit-keyframes scale-in-hor-right {
        0% {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
            opacity: 1;
        }
        100% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
            opacity: 1;
        }
    }
    @keyframes scale-in-hor-right {
        0% {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
            opacity: 1;
        }
        100% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
            opacity: 1;
        }
    }

