.footer{
    scroll-snap-align: center;
    margin:0 auto;
    width: 100%;
    min-height: 40vh;
    background-color: #1d1d1d;
    color:#fff;

    background-image:
    linear-gradient(to right,#000000E5, #000),
    url("/wood.jpg");

    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position:  center ;
    background-size: cover;

    height: 50vh;

    display: flex;
    flex-direction: column;

    .footer-link{
        text-decoration:none;
        color:#fff;

        &:hover{
         color:lighten(#884F37,20);
        }
    }
    li{
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        &:hover{
            color:lighten(#884F37,20);
        }
        .icon{
            margin-right:0.5rem;
        }
    }
    &__top{
        width: 100%;
        background-color:darken(#884F37,20);
        height: 4rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .socials{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            .social{
                width: 15%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                .icon{

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    width:  3rem;
                    height: 3rem;
                    font-size: 1.4rem;

                    color:#fff;
                    &:hover{
                         color:#000;
                        //border:#fff 1px solid;
                        font-size: 1.3rem;
                        border-radius:0.1rem;
                        padding: 0;
                    }
                }
            }
        .description{
            font-size: 1.2rem;
        }
    }
    }
    &__body{
        min-height: 80%;
        width: 80%;
        margin:0 auto;
        display: grid;
        gap: 4rem;
        grid-template-columns:  repeat(1fr) ;
        grid-template-areas:
         "col1 col1 col2 col3 col4"
         "col1 col1 col2 col3 col4"
         "col1 col1 col2 col3 col4";


        .col{

            padding-block:1rem;
            &--header{
                font-size: 1.4rem;
                border-bottom: 1px solid #242400;
                padding: 1rem;
                margin-bottom: 1rem;
            }
            &--col1{
                grid-area: col1;
            }
            &--col2{

                grid-area: col2;
            }
            &--col3{
                grid-area: col3;


            }
            &--col4{
                grid-area: col4;

                .location , .phone, .mail{
                    display: flex;
                    align-items: center;
                    padding-left:0.001rem;
                    color:#fff;
                    &:hover{
                       color:lighten(#884F37,20);
                    }


                }
            }
        }
    }
    position: relative;
    &__footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        .copy-right{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3rem;
            font-size: 1.2rem;
            background-color: #222422;
        }
    }
    @media screen and (max-width:767px) {
    height: 100%;
     scroll-snap-align: start;
     &__top{
        .socials{
            justify-content: center;
            align-items: center;
            .social{
                width: 100%;
            }
            .description{
                display:none;
            }
        }

     }
        &__body
        {
            gap:1rem;
            grid-template-areas:
         "col4"
         "col2"
         "col3";
         .col{
             margin-bottom: 0;
             &--col1{
             display:none;
            }
         }
    }
    &__footer{
    position: relative;
    .copy-right{
    font-size: 0.9rem;
    }}

    }
}
